<section
    class="h-screen w-screen relative overflow-hidden text-center bg-black"
>
    <div class="relative z-30 h-full flex flex-col">
        <header>
            <h2
                class="text-white pt-40 text-4xl font-medium tracking-normal mb-2"
            >
                Experience Tesla
            </h2>
            <p class="text-white text-sm">Schedule a Demo Drive Today</p>
        </header>
        <footer class="flex flex-col flex-grow flex-nowrap justify-end pb-24">
            <div>
                <a
                    href="#"
                    class="border-white text-white border-[3px] rounded font-medium inline-block py-1.5 px-20 text-sm bg-white/5 backdrop-blur-sm hover:bg-white hover:text-black transition-colors"
                    >Demo Drive</a
                >
            </div>
        </footer>
    </div>

    <div class="absolute top-0 bottom-0 z-10 h-full w-full">
        <video
            class="object-cover h-full w-full"
            autoplay
            muted
            loop
            src="/Homepage-Video.webm"></video>
    </div>
</section>
